<div class="container">
    <div class="card1">
        <app-game-card [name]='nameCardPlayer1' [score]='scoreCardPlayer1'></app-game-card>
    </div>
    <div class="card2">
        <app-game-card [name]='nameCardPlayer2' [score]='scoreCardPlayer2'></app-game-card>
    </div>
    <div class="result1">
        <p>{{ (isWinner > 0 ? "Winner": "Lose") | emptyValue}}</p>
    </div>
    <div class="result2">
        <p>{{ (isWinner < 0 ? "Winner": "Lose") | emptyValue}}</p>
    </div>
    <div class="score">
        <p>{{scorePlayer1 }} : {{scorePlayer2 }}</p>
    </div>
    <div class="start-btn">
        <i (click)="playGame()" class="material-icons" aria-hidden="true">play_circle_outline
        </i>
    </div>
</div>