.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 80% 20%;
  gap: 1px 1px;
  grid-template-areas: 'card1 btn card2' 'result1 score result2';

  .card1 .btn .card2 .result1 .score .result2 {
    width: 100%;
    height: 100%;
    place-self: center; 
  }

  .card1 {
    grid-area: card1;
    background-color: rgb(122, 117, 117);
  }

  .card2 {
    grid-area: card2;
    background-color: rgba(255, 217, 0, 0.253);
  }

  .result1 {
    grid-area: result1;
    background-color: rgba(255, 0, 0, 0.11);
  }

  .result2 {
    grid-area: result2;
    background-color: rgba(218, 112, 214, 0.192);
  }

  .score {
    grid-area: score;
    background-color: rgba(128, 128, 128, 0.171);
  }

  .start-btn {
    grid-area: btn;
    background-color: rgba(0, 0, 255, 0.199);
  }
}
