@import '../../../styles-library/variables.scss';
@import '../../../styles-library/button.scss';

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-size: $fs-h1;
        padding-bottom: 2rem;
    }
}