@import 'src/styles-library/variables.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;

  .title-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .logo {
      user-select: none;
      font-size: $fs-xl;
      padding: 1rem;
      font-family: $extra-font;
      background: $clr-primary;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 10%,
        rgba(235, 214, 23, 1) 40%,
        rgba(235, 214, 23, 1) 44%,
        rgba(255, 255, 255, 1) 77%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .mode-name {
      user-select: none;
      font-size: $fs-h1;
      font-family: $extra-font;
      color: $clr-primary;
      letter-spacing: 2px;
      padding: 0.5rem;
    }
  }
}
