<div class="select-mode-container">
    <div class="game-mode1" (click)="navigateSingleModeS()">
        <i class="fa fa-child" aria-hidden="true"></i>
        <p>Character Battle</p>
    </div>
    <div class="game-mode2" (click)="navigateSingleModeP()">
        <i class="fa fa-fighter-jet" aria-hidden="true"></i>
        <p>Starship Battle</p>
    </div>
    <div class="game-mode3" (click)="navigateMultiplayerMode()">
        <i class="fa fa-users" aria-hidden="true"></i>
        <p>Player vs Player</p>
    </div>
</div>

