<div class="container" [formGroup]="form">
    <div class="card1">
        <app-game-card></app-game-card>
    </div>
    <div class="card2">
        <app-game-card></app-game-card>
    </div>
    <div class="result1">
        <p>{{ (isWinner > 0 ? "Winner": "Lose")}}</p>
        <i class="material-icons" aria-hidden="true" (click)="buttonPlayer1"
            >play_circle_outline
        </i>
        <input formControlName="buttonPlayer1Form" type="text">
    </div>
    <div class="result2">
        <p>{{ (isWinner < 0 ? "Winner": "Lose")}}</p>
        <i class="material-icons" aria-hidden="true" (click)="buttonPlayer2"
          >play_circle_outline
        </i>
        <input formControlName="buttonPlayer2Form" type="text">
    </div>
    <div class="score">
        <p>1:5</p>
    </div>
</div>