<div class="container" [formGroup]="form">
    <div class="card1">
        <app-game-card></app-game-card>
    </div>
    <div class="card2">
        <app-game-card></app-game-card>
    </div>
    <div class="result1">
        <p>{{ result1() | emptyValue }}</p>
        <i class="material-icons" aria-hidden="true" (click)="buttonPlayer1()"
            >play_circle_outline
        </i>
    </div>
    <div class="result2">
        <p>{{ result2() | emptyValue }}</p>
        <i class="material-icons" aria-hidden="true" (click)="buttonPlayer2()"
          >play_circle_outline
        </i>
    </div>
    <div class="score">
        <p>1:5</p>
    </div>
</div>