<div class="container" [formGroup]="form">
    <div class="card1">
        <p class="player">Player1</p>
        <app-game-card [name]='nameCardPlayer1' [score]='scoreCardPlayer1'></app-game-card>
    </div>
    <div class="card2">
        <p class="player">Player2</p>
        <app-game-card [name]='nameCardPlayer2' [score]='scoreCardPlayer2'></app-game-card>
    </div>
    <div class="result1">
        <p>{{ result1() | emptyValue }}</p>
        <input formControlName="buttonPlayer1Form" type="checkbox">
        <i *ngIf="!ButtonValue1" class="material-icons" aria-hidden="true" (click)="buttonPlayer1()">play_circle_outline
        </i>
    </div>
    <div class="result2">
        <p>{{ result2() | emptyValue }}</p>
        <input formControlName="buttonPlayer2Form" type="checkbox">
        <i *ngIf="!ButtonValue2" class="material-icons" aria-hidden="true" (click)="buttonPlayer2()">play_circle_outline
        </i>
    </div>
    <div class="score">
        <p>{{scorePlayer1 }} : {{scorePlayer2 }}</p>
    </div>
</div>