.container-app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 15% 75% 10%;
  grid-template-areas: 'title' 'game' 'footer';

  .section-title {
    grid-area: title;
    width: 100%;
    height: 100%;
  }
  .section-game {
    grid-area: game;
    width: 100%;
    height: 100%;
  }
  .section-footer {
    grid-area: footer;
    width: 100%;
    height: 100%;
  }
}
