@import './styles-library/variables.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $clr-secondary;
}

p {
  font-family: $title-font-secondary;
  font-weight: $fw-normal;
  color: $clr-primary;
  font-size: $fs-body;
  user-select: none;
}

h1 {
  font-family: $title-font-secondary;
  font-weight: $fw-bold;
  color: $clr-primary;
  font-size: $fs-h1;
  user-select: none;
}

h2 {
  font-family: $title-font-secondary;
  font-weight: $fw-bold;
  color: $clr-primary;
  font-size: $fs-h2;
  user-select: none;
}

h3 {
  font-family: $title-font-secondary;
  font-weight: $fw-bold;
  color: $clr-primary;
  font-size: $fs-h3;
  user-select: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
